﻿@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Helvetica-SKY";
    src: url("../Fonts/sky.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica-SKY";
    src: url("../Fonts/sky-bold.ttf");
    font-weight: bold;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Helvetica-SKY, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 190px; /* Margin bottom by footer height */
    background-image: url('../Images/about/about-bg-rtl.png');
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -ms-background-position: right;
    background-position: right;
}

@media (min-width: 1500px) {
    body {
        -ms-background-position: right;
        background-position: right;
    }
}

.logo-img {
    height: 54px;
}

.navbar-light .navbar-nav .nav-link {
    color: #5E6575;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #1A284C;
    font-weight: bold;
}

@media(min-width: 992px) {
    .nav-link {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .navbar-nav > li:last-child {
        margin-top: 1px;
    }
}


.navbar-light {
    padding: 33px 10px 33px 10px;
}

@media (max-width: 991px) {
    div#navbarSupportedContent {
        margin-top: 16px;
    }

    .navbar-brand {
        padding-left: 8px;
    }

    .nav-link {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.navbar-brand {
    padding-top: 0;
}

@media (max-width: 320px) {
    .logo-img {
        height: 48px;
    }

    .navbar-brand {
        padding-left: 12px;
    }
}



.lang-btn {
    font-weight: bold !important;
    font-family: Helvetica-SKY !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
    height: 90px;
    background-color: #1A284C;
}

.Copyright {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.34px;
    line-height: 16px;
}

/*page style*/

.main-heading {
    color: #1A284C;
    font-family: Helvetica-SKY;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
}

.main-heading-p {
    color: #726C74;
    font-family: Arial;
    font-size: 18px;
    line-height: 23px;
}

.main-container {
    padding-bottom: 150px;
    padding-right: 40px;
}

@media (max-width: 1320px) {
    body {
        background-image: none;
    }
    .main-container {
        padding-bottom: 150px;
        padding-right: 15px;
    }
}
