﻿@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Helvetica-SKY";
    src: url("../Fonts/sky.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica-SKY";
    src: url("../Fonts/sky-bold.ttf");
    font-weight: bold;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Helvetica-SKY, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 190px; /* Margin bottom by footer height */
}

.logo-img {
    height: 54px;
}

.navbar-light .navbar-nav .nav-link {
    color: #5E6575;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #1A284C;
    font-weight: bold;
}

@media(min-width: 992px) {
    .nav-link {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .navbar-nav > li:last-child {
        margin-top: 1px;
    }
}


.navbar-light {
    padding: 33px 10px 33px 10px;
}

@media (max-width: 991px) {
    div#navbarSupportedContent {
        margin-top: 16px;
    }

    .navbar-brand {
        padding-right: 8px;
    }

    .nav-link {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.navbar-brand {
    padding-top: 0;
}

@media (max-width: 320px) {
    .logo-img {
        height: 48px;
    }

    .navbar-brand {
        padding-right: 12px;
    }
}


.lang-btn {
    font-weight: bold !important;
    font-family: Helvetica-SKY !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
    height: 90px;
    background-color: #1A284C;
}

.Copyright {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.34px;
    line-height: 16px;
}

/*page style*/

.breadcrumb {
    background: #ffffff;
    margin-bottom: 0px;
    font-weight: 100;
    letter-spacing: -0.28px;
}
    /*.breadcrumb > li + li:before*/
    .breadcrumb > li:after {
        content: "> ";
        padding: 0 5px;
    }

    .breadcrumb > li {
        line-height: 21px;
        font-size: 16px;
    }

        .breadcrumb > li > a {
            color: #1A284C;
            text-decoration: none;
        }

    .breadcrumb > .active {
        color: #29376A;
        font-weight: bold;
    }

.main-heading {
    color: #1A284C;
    font-size: 40px;
    line-height: 52px;
    font-weight: normal;
}

.main-heading-date, .main-heading-city {
    color: #51CA63;
    font-size: 24px;
    line-height: 31px;
}


.main-heading-p1 {
    color: #5E6575;
    font-size: 18px;
    line-height: 26px;
}

.main-heading-p2 {
    color: #333333;
    font-size: 22px;
    line-height: 35px;
    font-weight: 500;
}

.join-Btn {
    height: 43px;
    width: 177px;
    background-color: #51CA63;
    -ms-border-radius: 0px;
    border-radius: 0px;
}


@media (min-width: 991px) {
    .img-gal-item {
        cursor: pointer;
    }


    .img-gal-item {
        position: relative;
        height: 117px;
    }

        .img-gal-item > img {
            height: inherit;
            -webkit-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }


    .current-img-gal {
        position: relative;
        height: 340px;
    }

        .current-img-gal > img {
            height: inherit;
            -webkit-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
}

@media (max-width: 991px) {

    .img-gal-item {
        position: relative;
        height: 450px;
        margin-bottom: 20px;
    }

        .img-gal-item > img {
            height: inherit;
            -webkit-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
}

@media (max-width: 768px) {

    .img-gal-item {
        position: relative;
        height: 350px;
        margin-bottom: 20px;
    }

        .img-gal-item > img {
            height: inherit;
            -webkit-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
}

@media (max-width: 360px) {

    .img-gal-item {
        position: relative;
        height: 300px;
        margin-bottom: 20px;
    }

        .img-gal-item > img {
            height: inherit;
            -webkit-object-fit: cover;
            object-fit: cover;
            width: 100%;
        }
}
