﻿@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Helvetica-SKY";
    src: url("../Fonts/sky.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica-SKY";
    src: url("../Fonts/sky-bold.ttf");
    font-weight: bold;
}

html {
    position: relative;
    min-height: 100%;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    font-family: DINPro, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 190px; /* Margin bottom by footer height */
}

.logo-img {
    height: 54px;
}

.navbar-light .navbar-nav .nav-link {
    color: #5E6575;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #1A284C;
    font-weight: bold;
}

@media(min-width: 992px) {
    .nav-link {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .navbar-nav > li:last-child {
        margin-top: 1px;
    }
}

.navbar-nav {
    padding-top: 5px;
}

.navbar-light {
    padding: 33px 10px 33px 10px;
}

@media (max-width: 991px) {
    div#navbarSupportedContent {
        margin-top: 16px;
    }

    .navbar-brand {
        padding-left: 8px;
    }

    .nav-link {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.navbar-brand {
    padding-top: 0;
}

@media (max-width: 320px) {
    .logo-img {
        height: 48px;
    }

    .navbar-brand {
        padding-left: 12px;
    }
}




.lang-btn {
    font-weight: bold !important;
    font-family: Helvetica-SKY !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
    height: 90px;
    background-color: #1A284C;
}

.Copyright {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.34px;
    line-height: 16px;
}

/*page style*/
/* ---------------- section 1 (LOGO + main carousel + weather-widget) -------------------- */

/*LOGO*/
.logo-text {
    color: #1A284C;
    font-family: DINPro;
    font-size: 42px;
    font-weight: 500;
    line-height: 60px;
}

.about-btn {
    color: white;
    height: 57px;
    width: 300px;
    background-color: #51CA63;
    -ms-border-radius: 0px !important;
    border-radius: 0px !important;
    box-shadow: 0 7px 27px 0 rgba(144,192,244,0.17);
}

@media(max-width: 320px) {
    .about-btn {
        width: inherit;
    }
}

.about-btn-text, .about-btn-text:hover {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 18px;
    letter-spacing: 0.21px;
    line-height: 21px;
    text-decoration: none;
}

/* main carousel */

.main-carousel-container {
    position: relative;
}

    .main-carousel-container > img {
        -webkit-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }

.bottom-left-arrows {
    position: absolute;
    bottom: 10px;
    left: 30px;
    z-index: 10;
}

@media(max-width: 768px) {
    .bottom-left-arrows {
        bottom: -65px;
    }
}

.blue-square-btn {
    cursor: pointer;
    position: relative;
    height: 54.23px;
    width: 54.4px;
    background-color: #1A284C;
    margin: 1px;
}

    .blue-square-btn img {
        margin: 0;
        position: absolute;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%
    }

.main-carousel-container-number {
    -ms-opacity: 0.5;
    opacity: 0.5;
    color: #1A284C;
    font-family: DINPro;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

.main-carousel-container-number-bold {
    color: #1A284C;
    font-family: DINPro;
    font-size: 32px;
    font-weight: 500;
    line-height: 41px;
}

.play-btn {
    cursor: pointer;
    margin: 0;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}

/* main carousel items */

video::-webkit-media-controls {
    display: none;
}

.carousel-item > img, .carousel-item > video {
    width: 100%;
    -webkit-object-fit: cover;
    object-fit: cover;
    height: 530px
}

@media(max-width: 768px) {
    .carousel-item > img, .carousel-item > video {
        height: 400px !important;
    }
}

@media(max-width: 480px) {
    .carousel-item > img, .carousel-item > video {
        height: 350px !important;
    }
}

@media(max-width: 320px) {
    .carousel-item > img, .carousel-item > video {
        height: 280px !important;
    }
}

/* videos items */

.video-js {
    width: 100%;
    vertical-align: top;
    -webkit-object-fit: cover !important;
    object-fit: cover !important;
}

/*weather-widget*/

.weather-widget-container {
    padding-top: 30px;
    padding-left: 40px;
}

.weather-widget {
    z-index: 10;
    left: 250px;
    top: 80px;
    height: 181px;
    width: 268px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 22px 0 rgba(144,192,244,0.17);
}

.weather-widget-p1 {
    font-family: DINPro;
    font-size: 16px;
    line-height: 21px;
}

.weather-widget-day {
    color: #1A284C;
    font-size: 20.16px;
    font-weight: bold;
    line-height: 26px;
}

.weather-widget-city {
    color: #51CA63;
}

.weather-widget-degree {
    color: #1A284C;
    font-family: DINPro;
    font-size: 35.62px;
    line-height: 45px;
}

.weather-widget-details {
    color: #1A284C;
    font-family: DINPro;
    font-size: 15.68px;
    line-height: 21px;
}

/* ----------------- section 2 (about us) container + boat bg -------------------------- */

.section2-heading {
    color: #1A284C;
    font-family: DINPro;
    font-size: 42px;
    font-weight: 500;
    line-height: 60px;
}

.section2-p {
    color: #5E6575;
    font-family: DINPro;
    font-size: 20px;
    line-height: 30px;
}

.read-more-anchor {
    color: #51CA63 !important;
    text-decoration: none !important;
    display: block;
    font-family: DINPro;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
}

.read-more-anchor-white {
    color: #ffffff !important;
    text-decoration: none !important;
    display: block;
    font-family: DINPro;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
}

.boat-bg {
    height: 775px;
}

/*------------------ section 3 (Latest News) container + blue bg ------------------------ */

.bg-blue {
    height: 852px;
    background-color: #1A284C;
}


@media(max-width:1024px) {
    .ex-padding {
        padding-top: 3rem !important;
    }
}


@media(min-width:1025px) {
    .bg-blue {
        top: 80px;
    }
}

.main-heading-white {
    color: #FFFFFF;
    font-family: DINPro;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
}

/*fist card*/
.req-img-container {
    position: relative;
    color: white;
    height: 756px;
}

    .req-img-container > img {
        height: inherit;
        -webkit-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }

    .req-img-container:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
        box-shadow: 0 2px 13px 0 rgba(204,204,204,0.5);
        z-index: 1;
    }

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 36px;
    left: 28px;
    z-index: 10;
}

@media(max-width: 768px) {
    .bottom-left {
        left: 10px;
    }
}

.main-read-more, .main-read-more:hover {
    text-decoration: none !important;
    color: #BABABA;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.16px;
    line-height: 23px;
}

/* Container holding the image and the text for cards news */

.custom-card-container {
    -ms-transition: box-shadow .25s;
    -o-transition: box-shadow .25s;
    -webkit-transition: box-shadow .25s;
    transition: box-shadow .25s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin-bottom: 20px;
    background: #ffffff;
}

.custom-card-img {
    height: 100%;
    -webkit-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.max-height-1 {
    height: 239px;
}

@media(max-width: 992px) {
    .max-height-1 {
        height: 239px;
    }
}

@media(max-width: 575px) {
    .max-height-1 {
        height: 320px;
    }
}

@media(max-width: 320px) {
    .max-height-1 {
        height: 280px;
    }
}

.custom-card-title {
    color: #1A284C;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.27px;
    line-height: 30px;
}

.read-more, .read-more:hover {
    text-decoration: none !important;
    color: #4FC861;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.16px;
    line-height: 23px;
}

/*-------------------- section 4 (events) container ------------------------------------- */

.extra-bottom-margin {
    margin-bottom: 100px;
}

.main-heading-2 {
    color: #1A284C;
    font-family: DINPro;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    margin-top: 100px;
}

.custom-positioning {
    position: absolute;
    width: 55%;
    right: 20px;
}

@media(max-width:991px) {
    .custom-positioning {
        position: static !important;
    }
}

@media(min-width: 1500px) {
    .custom-positioning {
        position: absolute;
        width: 54%;
        right: 10px;
    }
}

/* Container holding the image and the text  - for cards Events */

.first-cards-img-container {
    color: white;
    position: relative;
    height: 585px;
    width: 100%;
}

    .first-cards-img-container > img {
        height: inherit;
        -webkit-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }

    .first-cards-img-container:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
        box-shadow: 0 2px 13px 0 rgba(204,204,204,0.5);
        z-index: 1;
    }

.first-cards-paragraph {
    color: #BABABA;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.16px;
    line-height: 23px;
}

.cards-img-container {
    color: white;
    position: relative;
    height: 400px;
    width: 100%;
}

    .cards-img-container > img {
        height: inherit;
        -webkit-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }

    .cards-img-container:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
        box-shadow: 0 2px 13px 0 rgba(204,204,204,0.5);
        z-index: 1;
    }

/* Bottom left text */
.cards-bottom-left {
    position: absolute;
    bottom: 20px;
    left: 16px;
    z-index: 10;
}

.cards-heading {
    font-family: DINPro;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

.join-Btn {
    color: black !important;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 43px;
    width: 177px;
    background-color: #51CA63;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

.section3-more-news {
    color: #51CA63;
    font-family: DINPro;
    font-size: 24px;
    line-height: 31px;
    text-align: end;
}

    .section3-more-news > a {
        text-decoration: none;
        color: #51CA63;
        font-family: DINPro;
        font-size: 24px;
        line-height: 31px;
        text-align: end;
    }

.green-square-btn {
    cursor: pointer;
    position: relative;
    height: 54.23px;
    width: 54.4px;
    background-color: #51CA63;
    margin: 1px;
}

    .green-square-btn img {
        margin: 0;
        position: absolute;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%
    }

.cards-date {
    color: #9B9B9B;
    font-family: Arial;
    font-size: 18px;
    letter-spacing: 0.21px;
    line-height: 21px;
}

/*---------------- section 5 gallary contianer + images + background --------------------------- */

.bg-green {
    height: 459px;
    background-color: #51CA63;
}


@media(min-width:1025px) {
    .bg-green {
        top: 80px;
    }
}

tr > td {
    margin: 0 !important;
    padding: 0 !important;
}

.gal-img-big-container {
    width: 370px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

    .gal-img-big-container > img {
        cursor: pointer;
        height: inherit;
        width: inherit;
        -webkit-object-fit: cover;
        object-fit: cover;
    }

.gal-img-small-container {
    width: 185px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

    .gal-img-small-container > img {
        cursor: pointer;
        height: inherit;
        width: inherit;
        -webkit-object-fit: cover;
        object-fit: cover;
    }

@media(max-width:1199px) {
    .gal-img-big-container {
        width: 320px;
        height: 240px;
    }

    .gal-img-small-container {
        width: 160px;
        height: 120px;
    }
}

@media(max-width:1000px) {
    .gal-img-big-container {
        width: 310px;
        height: 200px;
    }

    .gal-img-small-container {
        width: 155px;
        height: 100px;
    }
}

@media(max-width:991px) {
    .gal-img-big-container {
        width: 230px;
        height: 190px;
    }

    .gal-img-small-container {
        width: 115px;
        height: 95px;
    }
}

@media(max-width:767px) {
    td {
        display: block;
    }

    .gal-img-big-container {
        width: 100%;
        height: 400px;
    }

    .gal-img-small-container {
        width: 100%;
        height: 400px;
    }

    .bg-green {
        height: 460px;
    }
}

@media(max-width:550px) {
    .gal-img-big-container {
        width: 100%;
        height: 350px;
    }

    .gal-img-small-container {
        width: 100%;
        height: 350px;
    }
}

@media(max-width:360px) {
    .gal-img-big-container {
        width: 100%;
        height: 300px;
    }

    .gal-img-small-container {
        width: 100%;
        height: 300px;
    }

    .bg-green {
        height: 400px;
    }
}

@media(max-width: 768px) {
    .costume-top-margin-gallery {
        margin-top: -22px;
    }
}

.scrollup-btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: white;
    display: none;
    position: fixed;
    right: 16px;
    bottom: 18px;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

    .scrollup-btn img {
        margin: 0;
        position: absolute;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 50%;
    }



#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    /*cursor: pointer;*/  
    /*-ms-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    -webkit-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;*/
}


/* The Close Button */
.close_overlay {
    position: absolute;
    top: 15px;
    right: 30px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    z-index: 1001;
}


#prevGalBtn {
    z-index: 1002;
}

#nextGalBtn {
    z-index: 1002;
}

.overlay-img-description-index {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    font-size: 18px;
}

    .overlay-img-description-index > p {
        margin: 10px auto;
        text-align: center;
    }

@media(max-width: 991px) {
    .overlay-img-description-index {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .overlay-img-description-index {
        font-size: 14px;
    }
}



.img-description-index {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    font-size: 14px;
    height: 0px;
}

    .img-description-index > p {
        margin: 10px auto;
        text-align: center;
    }

@media (max-width: 767px) {
    .img-description-index {
        -ms-transition-duration: 1s;
        -o-transition-duration: 1s;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        height: 0px;
    }

    .img-description-index-m-show {
        height: 50px !important;
    }
}



.img-outer-container {
    position: relative !important;
}



@media(min-width: 768px) {

    .grow {
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

        .grow:hover {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
}

main {
    overflow: hidden;
}

.btn-disabled {
    -ms-opacity: 0.5;
    opacity: 0.5;
    cursor: auto !important;
}

.gal-green-square-btn {
    cursor: pointer;
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #51CA63;
    margin: 1px;
}
    .gal-green-square-btn img {
        margin: 0;
        position: absolute;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%
    }
