﻿@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "DINPro";
    src: url("../Fonts/DINPro-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Helvetica-SKY";
    src: url("../Fonts/sky.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica-SKY";
    src: url("../Fonts/sky-bold.ttf");
    font-weight: bold;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Helvetica-SKY, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 190px; /* Margin bottom by footer height */
}

.logo-img {
    height: 54px;
}

.navbar-light .navbar-nav .nav-link {
    color: #5E6575;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #1A284C;
    font-weight: bold;
}

@media(min-width: 992px) {
    .nav-link {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .navbar-nav > li:last-child {
        margin-top: 1px;
    }
}


.navbar-light {
    padding: 33px 10px 33px 10px;
}

@media (max-width: 991px) {
    div#navbarSupportedContent {
        margin-top: 16px;
    }

    .navbar-brand {
        padding-right: 8px;
    }

    .nav-link {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.navbar-brand {
    padding-top: 0;
}

@media (max-width: 320px) {
    .logo-img {
        height: 48px;
    }

    .navbar-brand {
        padding-right: 12px;
    }
}



.lang-btn {
    font-weight: bold !important;
    font-family: Helvetica-SKY !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Vertically center the text there */
    height: 90px;
    background-color: #1A284C;
}

.Copyright {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: -0.34px;
    line-height: 16px;
}

/*page style*/

.bg-blue {
    height: 588px;
    background-color: #1A284C;
}

.main-heading {
    color: #ffffff;
    font-family: Helvetica-SKY;
    font-size: 40px;
    font-weight: 500;
    line-height: 52px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.event-card-big {
    margin-top: 30px;
    padding-top: 100px;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
    box-shadow: 0 2px 13px 0 rgba(204,204,204,0.5);
}

.list-heading-1 {
    padding-top: 20px;
    color: #FFFFFF;
    font-family: Helvetica-SKY;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
}

.list-date-1 {
    color: #9B9B9B;
    font-family: Arial;
    font-size: 18px;
    letter-spacing: 0.21px;
    line-height: 21px;
}

.list-paragraph-1 {
    color: #BABABA;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.16px;
    line-height: 23px;
}

.join-Btn {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 43px;
    width: 177px;
    background-color: #51CA63;
    -ms-border-radius: 0px;
    border-radius: 0px;
}

.main-heading-2 {
    color: #1A284C;
    font-family: Helvetica-SKY;
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
}

/* Container holding the image and the text  for rectangle */
.req-img-container {
    position: relative;
    color: white;
    height: 756px;
}

@media(max-width: 575px) {
    .req-img-container {
        height: 600px;
    }
}

.req-img-container > img {
    height: inherit;
    -webkit-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.req-img-container:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100%);
    box-shadow: 0 2px 13px 0 rgba(0,0,0,0.15);
    z-index: 1;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 36px;
    right: 28px;
    z-index: 10;
}

@media(max-width: 768px) {
    .bottom-left {
        right: 10px;
    }
}

.main-read-more, .main-read-more:hover {
    text-decoration: none !important;
    color: #BABABA;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.16px;
    line-height: 23px;
}

.custom-card-container {
    -ms-transition: box-shadow .25s;
    -o-transition: box-shadow .25s;
    -webkit-transition: box-shadow .25s;
    transition: box-shadow .25s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    margin-bottom: 20px;
    background: #ffffff;
}

.custom-card-img {
    height: 100%;
    -webkit-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.max-height-1 {
    height: 239px;
}

.max-height-2 {
    height: 167px;
}

@media (max-width: 992px) {
    .max-height-2 {
        height: 239px;
    }

    .max-height-1 {
        height: 239px;
    }
}

@media (max-width: 575px) {
    .max-height-2 {
        height: 320px;
    }

    .max-height-1 {
        height: 320px;
    }
}

@media (max-width: 320px) {
    .max-height-2 {
        height: 280px;
    }

    .max-height-1 {
        height: 280px;
    }
}

.custom-card-title {
    color: #1A284C;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.27px;
    line-height: 30px;
}

.read-more, .read-more:hover {
    text-decoration: none !important;
    color: #4FC861;
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 0.16px;
    line-height: 23px;
}

.icons_container > img{
    width: 10px;
}
